version: "3"
services:
  proxy-app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8888:8888"
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 128M
